@import 'vars';

.input-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  
  input {
    border: .5px solid gray;
    border-radius: 6px;
    font-family: $font-main;
    line-height: 28px;
    text-align: center;
    width: 550px;
    
    &:focus {
      outline: none;
    }
  }

  
  button {
    background: white;
    border: .5px solid gray;
    border-radius: 6px;
    color: black;
    font-family: $font-main;
    letter-spacing: .7px;
    margin: 10px auto;
    padding: 10px;
    width: 100px;
    
    &:active {
      background: #d4d4d4;
      border-color: #8c8c8c;
    }
    
    &:hover {
      background: #e6e6e6;
      border-color: #adadad;
    }
    
    &:focus {
      outline: none;
    }
  }
}

.highlight-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  
}

.highlighted-text{
  display: flex;
  font-size: 19px;
  letter-spacing: .8px;
  line-height: 30px;
  margin-top: 40px;
}


